
body {
    margin: 0;
    display: inline-flex;
    align-items: center;
}

#body-container {
    width: 97.5%;
    height: 860px;
    background-color: black;
    align-items: center;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    margin-top: 0px;
    font-family: sans-serif;
}

#body-container a{
    text-decoration: none;
    color: black;
    justify-content: space-between;
    padding: 10px;
}
#body-container h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1.2rem;
    
}

#body-container h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 0;
    

}

#body-container img {
    border: hidden;
    border-radius: 50%;
    margin-top: 0;
    width: 200px;
    height: 200px;
    padding: 10px;

}

#body-container table {
    background-color: white;
    border: hidden;
    border-radius: 20px;
    box-shadow: 0 1px 20px;
    width: 400px;
    margin-top: 0px;
}

#right-container{
    font-family: sans-serif;
}

table h2 {
    font-weight: 1;
    letter-spacing: 2px;
}

#right-container h1 {
    text-align: center;
    font-size: 80px;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
}

#right-container p{
    font-weight: 400;
    padding: 0.5rem;
    opacity: 0.7;
}

#ss, a{
    text-align: center;
    color: black;
}

.custom-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}