body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

.about-wrapper {
    display: flex;
    height: 800px;
}

.about-left {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.image-container {
    background-color: aliceblue;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px whitesmoke;
    height: auto ;
    width: 200px;
}

.rounded-image {
    border-radius: 50%;
    width: 160px;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.about-icon a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.about-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

table h1{
    font-size: 100px;
    margin-top: 0%;
}

table h3{
    margin-top: 0%;
    font-size: 30px;
}

table{
    margin: 0px;
}

@media screen and (min-width: 1440px){

    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        right: -50px;
    }
}